   <!-- <div class="row">
    <div class="col-4">
         one way-from .ts to .html 
        oneway
    </div>

    <div class="col-4"></div>
    <div class="col-4"></div>
</div>


<div class="row">
    <div class="col-6">
         oneway using interpolation 
        <div class="row">
            <div class="col-4 bg-success">
                <h4> {{courseName}}</h4>
                <div> {{inputType}}</div>
                <input type="text" value="{{courseName}}" placeholder="enter text" />
                <input type="{{inputType}}" />
            </div>
            <div class="col-4">
                propety binding 

                <div [class]='myClassName'> property binding</div>
                <input type="text" [value]="courseName" />
                <input [type]="inputType" />
            </div>

            <div class="col-4">
                 event binding 
                <button class="btn btn-success" (click)="showAlert('welcome')"> show welcome</button>
                <span (click)=" showAlert('this is from span')">click me</span>
                <button class="btn btn-success" (click)="changeCourseName()"> change course</button>
            </div>

        </div>
    </div>


    <div class="col-6">
         two way DB 
  <input type="text"[(ngModel)]="courseName"/>-{{courseName}}
  <input type="checkbox"[(ngModel)]="isIndian"/>
  <select [(ngModel)]="stateName">
    <option value="">Select </option>
    <option value="Karnataka">Karnataka </option>
    <option value="Goa">Goa </option>
    <option value="Kerala">Kerala </option>
  </select>
    </div>
    <div class="col-6">
        
    </div>
</div>  -->